html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section1 {
    background-color: #552fdd;
    height: 70px;
}

.section2 {
    background-color: #d7d7d7;
    height: 70px;
}

.content {
    margin: 25px 36px;
}

.selectBox {
    width: 126px;
    height: 22px;
}

.section1Image {
    width: 60px;
    height: 60px;
    margin: 5px 36px;
}

.tddata {
    font-size: 24px;
    font-weight: bold;
}

.tddata2 {
    font-weight: bold;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

.graphControl {
    overflow: auto;
}

.graphSection {
    margin-top: 25px;
}

.legends-container {
    display: flex !important;
    align-items: center;
}

.legend-color {
    width: 9px;
    height: 9px;
    border-radius: 3px;
}

.red {
    background-color: #f46363;
}

.green {
    background-color: #1f7f23;
}

.yellow {
    background-color: #69b3a2;
}

.blue {
    background-color: #2196f3;
}

.orange {
    background-color: #f3b121c0;
}

.bubbles {
    stroke-width: 2px;
    stroke: white;
}

.bubbles:hover {
    stroke: black;
}

@media only screen and (max-width: 700px) {

    /* For mobile phones: */
    [class*="section1"] {
        width: 100%;
    }

    [class*="section2"] {
        width: 100%;
    }

    [class*="section3"] {
        width: 100%;
    }

    [class*="linegraph"] {
        display: none;
    }

    [class*="section1Image"] {
        display: block;
        margin: 0px auto;
        width: 60px;
        height: 60px;
    }

    [class*="graphControl"] {
        overflow: auto;
    }

    [class*="selectBox"] {
        margin-left: 40%;
    }

    [class*="centerMobile"] {
        margin: auto;
    }

    [class*="graphSection"] {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}
